<!DOCTYPE html>
<html class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <title>{{ block "title" . }}{{ .Site.Title }} {{ end }}</title>
    <meta name="description" content="{{ .Description }}" />

    {{ $options := dict "config" "assets/css/postcss.config.js" }}
    <link href="/styles.css" rel="stylesheet" />
  </head>
  <body class="">
    {{ partial "navbar.html" . }}
    <main aria-role="main" id="main" class="mx-2 sm:mx-24 !md:mx-36 py-10 border">
      {{ block "main" . }} {{ end }}
    </main>

    <style>
      
    </style>
  </body>
  </html>




