---
import Social from "./Social.astro";

---

<footer>
  <div class="w-full py-2 border flex justify-center items-center">
    <p>&copy;2024</p>
  </div>
</footer>
<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
