---
const name = "Kibet";
const description =
  "I am a Software Developer, who is passionate about building user friendly and beautiful applications on the internet";
---

<div class="flex flex-col gap-2">
  <h3 class="font-medium text-3xl">Hey, I'm {name} 👋</h3>
  <p class="text-sm">{description}</p>
</div>
