{{ $languages := .Site.Data.languages }} {{ $frameworks := .Site.Data.frameworks
}} {{ $hosting := .Site.Data.hosting }} {{ $design := .Site.Data.design }}

<div id="techstack" class="mt-28 px-4">
  <p
    class="text-2xl w-fit relative uppercase font-bold after:content-start after:absolute after:h-2 after:bg-gray-800 after:w-3/5 after:left-0 after:-bottom-2"
  >
    Tech Stack
  </p>

  <div class="py-8 sm:px-8 mt-4">
    <div class="max-w-3xl mx-auto">
      <h2 class="text-2xl font-bold mb-4">Languages</h2>
      <div class="flex flex-wrap mb-8">
        {{ range $languages }}
        <img src="{{ .link }}" alt="{{ .name }}" class="m-2" />
        {{ end }}
      </div>

      <h2 class="text-2xl font-bold mb-4">
        Frameworks, Platforms, and Libraries
      </h2>
      <div class="flex flex-wrap mb-8">
        {{ range $frameworks }}
        <img src="{{ .link }}" alt="{{ .name }}" class="m-2" />
        {{ end }}
      </div>

      <h2 class="text-2xl font-bold mb-4">
        Hosting, Saas, Databases, and other Cloud Services
      </h2>
      <div class="flex flex-wrap mb-8">
        {{ range $hosting }}
        <img src="{{ .link }}" alt="{{ .name }}" class="m-2" />
        {{ end }}
      </div>

      <!-- Design and prototyping section -->

      <h2 class="text-2xl font-bold mb-4">Design and Prototyping</h2>
      <div class="flex flex-wrap mb-8">
        {{ range $design }}
        <img src="{{ .link }}" alt="{{ .name }}" class="m-2" />
        {{ end }}
      </div>
    </div>
  </div>
</div>
