{{ define "main" }}
<meta name="title" content="Kibet Ismael - Portfolio" />
<meta
  name="description"
  content="Software Developer, who is passionate about building user
            friendly and beautiful applications on the internet"
/>
<meta property="og:title" content="Kibet Ismael - Portfolio" />
<meta
  property="og:description"
  content="Software Developer, who is passionate about building user
            friendly and beautiful applications on the internet"
/>
<meta property="og:title" content="Kibet Ismael - Portfolio" />
<meta property="og:site_name" content="Portofolio" />
<meta
  property="og:image"
  content="https://kmishmael.vercel.app/landing-frame.png"
/>
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary_large_image" />

<div>
  {{ partial "welcome.html" . }}
  <div class="py-2">
    <p>Featured</p>
  </div>

  <div class="flex flex-col gap-2">
    {{ range (where .Site.RegularPages "Type" "blog" | first 6) }}
    <h3><a href="{{ .RelPermalink}}" class="title">{{ .Title }}</a></h3>
    {{ end }}
  </div>
</div>
{{ end }}
