---
import Header from "../components/Header.astro";
import "../styles/global.css";

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/images/favicon.ico" />
    <title>{pageTitle}</title>
  </head>
  <body class="">
    <Header />
    
    <br />
    <div
      class="px-4 sm:px-20 md:px-36 leading-[1.5] mx-auto flex flex-col min-h-screen h-full justify-between"
    >
      <div>
        <slot />
      </div>
      <div class="h-28"></div>
      <!-- <Footer /> -->
    </div>
  </body>
</html>
